---
layout: default
bodyClass: "page-home"
---

<div class="intro box1">
  <div class="container">
    <div class="row justify-content-start">
      <div class="col-12 col-md-7 col-lg-6 order-2 order-md-1">
        {{ content }}
        {% if page.show_call_box %}
          {% include call.html show_button=true %}
        {% endif %}
      </div>
      {% if page.intro_image %}
      <div class="col-12 col-md-5 col-lg-6 order-1 order-md-2 position-relative">
        <img alt="{{ page.title }}" class="intro-image{% if page.intro_image_absolute %} intro-image-absolute{% endif %}{% if page.intro_image_hide_on_mobile %} intro-image-hide-mobile{% endif %}" src="{{ page.intro_image | relURL }}" />
      </div>
      {% endif %}
    </div>

<h2>Hi! I'm Tayla Bleckly...</h2>
<p>
      ... and I am an AHPRA-registered Occupational Therapist.
    </p>

    <p>I have 6 years of experience supporting older adults across residential and community aged care settings across metropolitan Adelaide. I'm a qualified COPE (Care of People with Dementia in their Environments) therapist, and I'm trained as a Dementia Guide by Dementia Australia.
    </p>

    <p>I serve private clients and My Aged Care-funded clients across home, residential, and community settings. Based in Seacombe Gardens SA, I'm passionate about enhancing the independence and quality of life of my clients.
    </p>
  </div>
</div>

{% if site.data.features %}
<div class="strip strip-grey box2">

  <div class="container pt-3 pb-3 pt-md-5 pb-md-5">
    <div class="row justify-content-center">

      {% for feature in site.data.features %}
      <div class="col-12 col-md-6 col-lg-4 mb-2">
        <div class="feature">
          {% if feature.image %}
          <div class="feature-image"><img alt="{{ feature.title }} logo" src="{{ feature.image.url | relative_url }}" width="{{ feature.image.width }}" height="{{ feature.image.height }}" /></div>
          {% endif %}
          <h2 class="feature-title">{{ feature.title }}</h2>
          <div class="feature-content">{{ feature.description }}</div>
        </div>
      </div>
      {% endfor %}

    </div>
  </div>
</div>
{% endif %}


<div class="strip box3">
  <div class="container pt-3 pb-3 pb-md-5">
    <div class="row justify-content-start">
      {% assign limit = site.home.limit_services | default: 6 %}
      {% for service in site.services limit: limit %}
      <div class="col-12 col-md-4 mb-1">
        <div class="service service-summary">
          <div class="service-content">
            <h2 class="service-title">
              <a href="{{ service.url | relative_url }}">{{ service.title }}</a>
            </h2>
            <p>{{ service.excerpt | markdownify | strip_html | truncate: 100 }}</p>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>


<div class="cf-wrap">
  <h1 id="contact">Contact Tayla</h1>
  <form action="https://formspree.io/f/mpqbpdjo" method="POST">

    <div class="cf-row">
      <div class="cf-group">
        <label for="name">Name</label>
        <input type="text" id="name" name="name" placeholder="Jane Smith" required>
      </div>
      <div class="cf-group">
        <label for="email">Email</label>
        <input type="email" id="email" name="_replyto" placeholder="jane@example.com" required>
      </div>
    </div>

    <div class="cf-group">
      <label for="message">Message</label>
      <textarea id="message" name="message" placeholder="How can I help?" required></textarea>
    </div>

    <button type="submit" class="cf-submit">Send message</button>

  </form>

  <div class="cf-wrap tiny-text">
    When you submit this form, we collect the information you provide (e.g. name, email address, and message) solely for the purpose of responding to your enquiry. We do not use this information for marketing, share it with third parties, or add you to any mailing list.<Br /><br />
    Your submission is processed via Formspree, which may temporarily handle your data on servers located outside Australia. It is then delivered directly to our email inbox and is not stored by us beyond what is necessary to address your enquiry.<Br /><br />
    You may request access to or deletion of your information at any time by contacting us at tayla@reimagineot.com.au.
  </div>
</div>
  </div>
</div>
